nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 35px;
}

.nav-tweet {
  display: flex;
  font-family: 'Source Sans 3', sans-serif;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

nav i {
  color: #FF0000;
  display: flex;
}

@media (max-width: 768px) {
  nav {
    background-color: green;
    background-image: url(http://www.transparenttextures.com/patterns/bedge-grunge.png);
    height: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    background-color: green;
    background-image: url(http://www.transparenttextures.com/patterns/bedge-grunge.png);
    height: 100px;
  }
}