/* Form button styling */
form button {
  font-family: "Bungee", sans-serif;
  background-color: #4056A1;
  color: white;
  border: none;
  height: 30px;
  width: 90px;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form label {
  font-family: 'Sans Source 3', sans-serif;
  font-size: 20px;
  font-weight: 600;
  display: flex;
}

/* Textarea form and styling */
form textarea {
  font-family: 'Sans Source 3', sans-serif;
  font-size: larger;
  outline: none;
  background-color: transparent;
  border-bottom: 4px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
  width: 100%;
}

textarea::placeholder {
  color: black;
  font-weight: 500;
  text-align: start;
  font-size: 25px;
}

/* Footer icons and counter styling */
.submission {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.counter {
  font-family: "Bungee", sans-serif;
  display: flex;
  flex-direction: row-reverse;
}

.counter.negative {
  color: red;
}

/* error message container and styling */
#error-container {
  color: red;
  text-align: center;
  width: 50%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 10px auto;
  border: 4px solid red;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Sans Source 3', sans-serif;
}

.visibility {
  display: none;
}
